version: '3.8'
services:
  prometheus:
    restart: unless-stopped
    image: {{ prometheus_image_version }}
    container_name: prometheus
    ports:
      - {{ ports }}
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml 
      - prometheus_data:/prometheus
    command: "--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/prometheus --storage.tsdb.retention.time=720h "
    networks:
      - prometheus
volumes:
  prometheus_data:
    name: prometheus_data
networks:
  prometheus:
    name: prometheus_network
