# prometheus.j2
global:
  scrape_interval: "{{ scrape_interval }}"
  evaluation_interval: "{{ evaluation_interval }}"
  scrape_timeout: "{{scrape_timeout}}"
scrape_configs:
{% for target in scrape_targets %}
  - job_name: "{{ target.job_name }}"
    static_configs:
      - targets: {{ target.static_configs[0].targets | to_json }}
    metrics_path: "{{ target.metrics_path }}"
{% if target.basic_auth.username | default('') %}
    basic_auth:
      username: "{{ target.basic_auth.username }}"
      password: "{{ target.basic_auth.password }}"
{% endif %}
{% if target.basic_auth.token | default('') %}
    params:
      Authorization: ["Bearer {{ target.basic_auth.token }}"]
{% endif %}
{% endfor %}
